/* -------------------------------------------------------------------
 * Plugin Name           : Porkai - Php Ajax Modern Contact Form
 * Author Name           : SeparateWeb
 * Version               : 1.0
 * File Name             : style.css
------------------------------------------------------------------- */
/*------
1. Typography
2. Form Base
3. Form Button
4. Input, Select, Textarea
5. Floating Label
6. Submit Button Loader
7. Form Validation
---------*/

/* Typography */
* {
    -webkit-font-smoothing: antialiased;
    -moz-os-font-smoothing: grayscale;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    vertical-align: baseline;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #404656;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    font-size: 19px;
    outline: none;
    overflow-x: hidden;
}


/* Form Base*/
.ctmsetsw{margin-bottom: 15px;}
.contact-block-sw {
    padding: 50px 30px;
    border-radius: 14px;
    background:  #fff;
    box-shadow: 0 5px 15px 0px rgb(0 0 0 / 14%);
}
.form-title{
    text-align: center;
    color: #333;
    padding-bottom: 40px;
}
.form-title h2{
    padding: 50px 0 10px 0px;
    font-weight: 700;
}
.form-title p{
    font-size: 18px;
    line-height: 28px;
}
.ctmlabl{
    font-size: 15px;
    line-height: 20px;
}
.custom-control-label::before, .custom-control-label::after {
    top: 0px;
}

/* Form Button */
.porkai-btn{
	text-transform: uppercase;
    color: #fff;
    background: #0057ff;
    border-radius: 50px;
    display: inline-flex;
    font-size: 18px;
    padding: 0 32px;
    height: 62px;
    overflow: hidden;
    border: 1px solid #0057ff;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Input, Select, Textarea */
.form-block input, .form-block select {
    height: 50px;
    padding: 0px 15px;
    border-width: 0px 0px 2px;
    border-image: initial;
    border-bottom: 2px solid rgb(230, 230, 230);
    border-radius: 0px;
}
.form-block textarea {
    height: 100px;
    padding: 15px;
    border-width: 0px 0px 2px;
    border-image: initial;
    border-bottom: 2px solid rgb(230, 230, 230);
    border-radius: 0px;
}
.form-block input, .form-block select, .form-block textarea {
    color: rgb(23, 43, 67);
    font-size: 18px;
    width: 100%;
    margin: 0px 0px 15px;
    background: rgb(255, 255, 255);
    outline: 0px;
}

/**Floating Label**/
.floating-label { position: relative; margin-bottom: 20px; overflow: hidden;}
.floating-input, .floating-select {
    font-size: 14px;
    padding: 4px 4px;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #C5C5C5;
}
.floating-input:focus, .floating-select:focus {   outline: none;   border-bottom: 1px solid #0057ff;}
.floating-label label {
    color: #110a32;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 16px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    margin-bottom: 0;
}
.floating-input:focus~label, .floating-input:not(:placeholder-shown)~label, .floating-select:focus~label, .floating-select:not([value=""]):valid~label {
    top: -3px;
    font-size: 12px;
    color: #828282;
    background: #fff;
    width: 100%;
}
#contactform .error-label .error {
    color: #ff0500;
    display: block;
    margin: 0;
    font-size: 12px;
    bottom: 8px;
    top: inherit;
    background: #fff;
    padding: 0 8px 0 8px;
}
 .formicon{
     position: absolute;
     top: 12px;
     left: 20px;
}
 .iconin .form-block input, .iconin .form-block select{
     padding: 0px 25px 0px 35px;
}
 .iconin .form-block textarea {
     padding: 15px 15px 15px 35px;
     margin-top: 1px;
}
 .iconin .floating-label label {
     left:50px;
}

/**Submit Button Loader**/
.loader-icon{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #0057ff;
    justify-content: center;
    align-items: center;
}
.loader-icon:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid rgb(255 255 255 / 20%);
    border-top-color: #fff;
    animation: spinner .6s linear infinite;
  }
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

/*Form Validation*/
.porkaiform input.error, .porkaiform select.error, .porkaiform textarea.error { border-bottom: 1px solid red;}
.porkaiform input.valid, .porkaiform select.valid, .porkaiform textarea.valid { border-bottom: 1px solid #00a759;}
.porkaiform input.valid, .porkaiform textarea.valid{
	background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2300a759' d='M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
    background-position: right center;
    background-size: 28px;
}
.porkaiform input.error, .porkaiform textarea.error{
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ff0000' d='M12 2A10 10 0 1 0 22 12 10.01114 10.01114 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8A8.00917 8.00917 0 0 1 12 20Zm0-8.5a1 1 0 0 0-1 1v3a1 1 0 0 0 2 0v-3A1 1 0 0 0 12 11.5Zm0-4a1.25 1.25 0 1 0 1.25 1.25A1.25 1.25 0 0 0 12 7.5Z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
    background-position: right center;
    background-size: 28px;
}
.porkaiform textarea.error,.porkaiform textarea.valid {
    background-position-x: 98%;
    background-position-y: 10px;
}

/*Responsive*/
  /**width under 767**/
  @media only screen and (max-width: 767px){
    .contact-block-sw {
        padding: 30px 15px;
}
}

/*End of form css*/
